{% include 'base.html'%}
{% block content %}
<div class="row">
    
    <div class="col-md-12">
        <div class="container d-flex justify-content-center">
            <h5 style="margin-top: 20px;">Login/Sign up:</h5>
            <form method="POST" action="{% url 'create_doctor' %}" enctype="multipart/form-data">
              
            {% csrf_token %}
            
            <div class="profile" style="display: grid;">
              <i class="fa-solid fa-user fa-2x" style="margin-left: 49%;"></i>
              <h5 style="text-align: center;"> profile </h5>
              <label for="profile_picture"></label>
              <input type="file" id="profile_picture" name="profile_picture" style="margin-left: 45%;">
            </div>
            <div class="mb-3">
                <label for="firstname" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstname"  name="first_name" placeholder="enter the first name">
              </div>
              <div class="mb-3">
                <label for="Lastname" class="form-label">Last name</label>
                <input type="text" class="form-control" id="last_name"  name="last_name" placeholder="enter the last name" >
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" class="form-control" id="username"  name="username" placeholder="enter the username name" >
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="enter email address">
            </div>
            <div class="message">
              {% if messages %}
              {% for message in messages %}
              <h4 style="color: firebrick;">{{ message }}</h4>
              {% endfor %}
              {% endif %}
          </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="enter password">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password"  name="confirm_password" placeholder="enter the password name">
               </div>
              <div class="mb-3" style="display: flex; gap: 20px;">
                <label for="city" class="form-label" style="margin-top: 10px;" >City</label>
                <input type="text" class="form-control" id="city"  name="city" placeholder="city">
              
              
                <label for="password" class="form-label" style="margin-top: 10px;">State</label>
                <input type="text" class="form-control" id="State"  name="state" placeholder="state">
              
              
                <label for="password" class="form-label" style="margin-top: 10px;">Pincode</label>
                <input type="number" class="form-control" id="pincode"  name="pincode" placeholder="pincode">
              </div>    
            <button type="submit" class=" container btn btn-primary">login</button>
            
          </form>
        </div>
    </div>
</div>
{% endblock %}

