{% include 'base.html'%}
{% block content %}
<div class="container">
    <h3 style="margin-top: 30px;">Book Appointment</h3>
<table class="table" style="margin-top: 30px;">
    <thead>
      <tr>
        
        <th scope="col">profile picture</th>
        <th scope="col"> Name</th>
        <th scope="col">Book Appointment</th>
       
    
      </tr>
    </thead>
    <tbody>
        {% for i in items %}
      <tr>
        
        <td><img src="/media/{{i.profile_picture}}" style="height: 50px; width: 40px; margin-left: 150px; margin-top: 2px;"></td>
        <td>{{i.username}}</td>
        <td>
          <a href="{% url 'patient'%}"> <button type="submit" class="btn btn-success">Book Appointment</button></a>
          </td>
       
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>


{% endblock %}